name: macOS

on:
  push:
    branches:
      - '*'

    tags:
      - 'v*'

  pull_request:
    branches:
      - '*'

jobs:
  macos_build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-10.15]
        build_type: [Release, Debug]

    steps:
    - uses: actions/checkout@v1

    - name: Check configured signing Team IDs
      run: |
        ./scripts/check_configured_team_ids.sh

    - name: Install system dependencies
      run: |
        sudo gem install xcpretty

    - name: Create the build folder(s)
      id: build_folder
      run: |
        mkdir build
        echo "::set-output name=PATH::$(pwd)/build"

    - name: Select the project
      id: project_folder
      run: |
        echo "::set-output name=PATH::$(pwd)/Sinter.xcodeproj"

    - name: Build the project
      run: |
        xcodebuild -configuration ${{ matrix.build_type }} -project "${{ steps.project_folder.outputs.PATH }}" -scheme Sinter CONFIGURATION_BUILD_DIR="${{ steps.build_folder.outputs.PATH }}" clean build | xcpretty

    - name: Run the tests
      run: |
        xcodebuild -configuration ${{ matrix.build_type }} -project "${{ steps.project_folder.outputs.PATH }}" -scheme Sinter CONFIGURATION_BUILD_DIR="${{ steps.build_folder.outputs.PATH }}" test | xcpretty

